version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=pingdb
      - DB_USER=user
      - DB_PASSWORD=password
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: pingdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: